.logo{
    height:60px;
    width:60px;
}
.header_wrapper{
   
     background: linear-gradient(to bottom left, rgba(0,0,0,0.1) 45%,rgba(0,0.9,0,0) 5%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%),url(img/hero_img.jpg) center;
    
  
}
.nav-link{
    color:white
}
#main_action{
  transition: width 2s;
}
#main_action:hover{
  width:200px;
  opacity: 0.9;

}
.user-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto 20px;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
    transform: rotate(-30deg);
    transition: 0.5s;
  }
  .card-box:hover .user-pic {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
  .card-box {
    padding: 15px;
    background-color: #fdfdfd;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
  }
  .card-box:hover {
  border: 1px solid green;
  }
  .card-box p {
    color: #808080;
  }

  .call_to_action{
      height:270px;
      width:100%;
      background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(img/hero_img.jpg);
      background-size: cover;
      color:white;
  }